<ion-content style="background:url('assets/imgs/wallet_back.png') center;background-size: cover">
  <div class="center logo-holder">
    <img src="assets/imgs/quick_tran.png" style="height:150px;width:150px"/>
    <div class="center" style="color:#6e1326;font-size: 20px;font-weight: bold;">Swift Pay<sup>TM</sup></div>
  </div>


  
  <div class="card-holder">
    <ion-card class="no-shadow my-card">
      <div padding>
        <div *ngIf="firstPage">
          <ion-item>
            <ion-icon name="contact" item-left color="quickgrey"></ion-icon>
            <input type="text" placeholder="Username" class="full-width custom-input" [(ngModel)]="objectblock.user"/>
          </ion-item>
           <ion-item>
            <ion-icon name="call" item-left color="quickgrey"></ion-icon>
            <input type="tel" placeholder="Phone number" class="full-width custom-input" [(ngModel)]="objectblock.phone_number"/>
          </ion-item>
        </div> 
        <button ion-button block (click)="goNext()" text-capitalize color="quickgreen" mode="ios" round *ngIf="firstPage">
          Sign Up
        </button> 
        <div *ngIf="!firstPage">
          <ion-item>
            <ion-icon name="lock" item-left color="quickgrey"></ion-icon>
            <input type="password" placeholder="Password" maxlength="20" class="full-width custom-input" [(ngModel)]="objectblock.pass"/>
          </ion-item> 
          <ion-item>
            <ion-icon name="lock" item-left color="quickgreen"></ion-icon>
            <input type="password" placeholder="Confirm Password" maxlength="20" class="full-width custom-input" [(ngModel)]="objectblock.pass_confirm"/>
          </ion-item> 
        </div>
        <button ion-button block (click)="openPage('DashboardPage')" text-capitalize color="quickgreen" mode="ios" round *ngIf="!firstPage">
          Sign Up
        </button>  
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer no-border class="hide-on-keyboard-open" padding>
  <div text-center ion-text color="white" padding>
    &copy; 2018 Glasoft Limited
  </div>
</ion-footer>


