page-home {
    .home_icon_font{
    	font-size: 20px;
    }
    .sign_up{
   	    font-size: 10px;
    }
    .custom-input{
   	    border: 1px solid #ddd; 
   	    border-width: 0px 0px 1px 0px;
   	    padding-bottom: 5px;
    }
    .lower_tabs{
    	border-right: solid 1px #ddd;
    }
    .card-holder{
    	margin: 0;
    	position: absolute;
    	top: 75%;
    	left: 50%;
    	margin-right: -50%;
    	-webkit-transform: translate(-50%, -50%);
    	width: 95%;
    	z-index:999;
    }
    .my-card{
        max-width: 800px; 
        margin-left: auto;
        margin-right: auto;
        border-radius:25px
    }
    .logo-holder{
        position: absolute;
        top: 150px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -100px);
        -webkit-transform: translate(-50%, -100px);
        z-index: 999;
        height: 150px;
        width: 320px;
        border-radius: 25px;
        padding-right: 30px;
        background:#fff; 
        display:flex; 
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .logo-holder-caption{
        position: absolute;
        top: 320px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -100px);
        -webkit-transform: translate(-50%, -100px);
        z-index: 999;
    }
}
